
<table class="table user-list">
    <thead>
        <tr>
            <th><span>code</span></th>
            <th><span>libelle</span></th>
            <th ><span>prixUnitaire</span></th>
            <th><span>tauxTVA</span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        
        <tr  *ngFor="let u of list; let i = index; let f=first" > 
            <td style="width: 20%;">  {{u.code}}  </td> 
            <td style="width: 20%;"> {{u.libelle}} </td>
            <td style="width: 20%;">{{u.prixUnitaire}}  </td>
            <td style="width: 20%;">{{u.tauxTVA}} </td> 
            <td><button class="btn-danger" (click)="deleteProduct(u.id)" >Delete</button></td>
        </tr>
    
        </tbody>
        </table>